{
  "openapi": "3.0.1",
  "info": {
    "title": "Firely Server - MedicationAdministration",
    "version": "6.0.0-alpha-build-20250416.14+98e1304c34427b9612b0e9dbc99085d535760e24"
  },
  "servers": [
    {
      "url": "https://server.fire.ly/",
      "description": "Firely Server (non-secured)"
    },
    {
      "url": "https://secure.server.fire.ly/",
      "description": "Firely Server"
    }
  ],
  "paths": {
    "/MedicationAdministration": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "create: Create a new MedicationAdministration instance",
        "operationId": "CreateMedicationAdministration",
        "requestBody": {
          "description": "A FHIR MedicationAdministration",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/MedicationAdministration"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/MedicationAdministration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "search-type: Search for MedicationAdministration instances",
        "operationId": "SearchMedicationAdministrationGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_contained"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_graph"
          },
          {
            "$ref": "#/components/parameters/_include"
          },
          {
            "$ref": "#/components/parameters/_revinclude"
          },
          {
            "$ref": "#/components/parameters/_score"
          },
          {
            "$ref": "#/components/parameters/_sort"
          },
          {
            "$ref": "#/components/parameters/_total"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/code"
          },
          {
            "$ref": "#/components/parameters/context"
          },
          {
            "$ref": "#/components/parameters/device"
          },
          {
            "$ref": "#/components/parameters/effective-time"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/medication"
          },
          {
            "$ref": "#/components/parameters/patient"
          },
          {
            "$ref": "#/components/parameters/performer"
          },
          {
            "$ref": "#/components/parameters/reason-given"
          },
          {
            "$ref": "#/components/parameters/reason-not-given"
          },
          {
            "$ref": "#/components/parameters/request"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/subject"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/{logical_id}": {
      "delete": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "delete: Perform a logical delete on a MedicationAdministration instance",
        "operationId": "DeleteMedicationAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/code"
          },
          {
            "$ref": "#/components/parameters/context"
          },
          {
            "$ref": "#/components/parameters/device"
          },
          {
            "$ref": "#/components/parameters/effective-time"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/medication"
          },
          {
            "$ref": "#/components/parameters/patient"
          },
          {
            "$ref": "#/components/parameters/performer"
          },
          {
            "$ref": "#/components/parameters/reason-given"
          },
          {
            "$ref": "#/components/parameters/reason-not-given"
          },
          {
            "$ref": "#/components/parameters/request"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/subject"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "patch: Patch a MedicationAdministration instance",
        "operationId": "PatchMedicationAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Patch to apply to a FHIR MedicationAdministration record",
          "content": {},
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "read: Read a FHIR MedicationAdministration",
        "operationId": "ReadMedicationAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "update,create: Update or Create a MedicationAdministration instance",
        "operationId": "UpdateOrCreateMedicationAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/code"
          },
          {
            "$ref": "#/components/parameters/context"
          },
          {
            "$ref": "#/components/parameters/device"
          },
          {
            "$ref": "#/components/parameters/effective-time"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/medication"
          },
          {
            "$ref": "#/components/parameters/patient"
          },
          {
            "$ref": "#/components/parameters/performer"
          },
          {
            "$ref": "#/components/parameters/reason-given"
          },
          {
            "$ref": "#/components/parameters/reason-not-given"
          },
          {
            "$ref": "#/components/parameters/request"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/subject"
          }
        ],
        "requestBody": {
          "description": "An updated FHIR MedicationAdministration",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/MedicationAdministration"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/MedicationAdministration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/_search": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "search-type: Search for MedicationAdministration instances",
        "operationId": "SearchMedicationAdministrationPost",
        "requestBody": {
          "description": "FHIR search parameters",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_elements": {
                    "title": "_elements",
                    "type": "string"
                  },
                  "_summary": {
                    "title": "_summary",
                    "type": "string"
                  },
                  "_content": {
                    "title": "_content",
                    "type": "string"
                  },
                  "_filter": {
                    "title": "_filter",
                    "type": "string"
                  },
                  "_id": {
                    "title": "_id",
                    "type": "string"
                  },
                  "_in": {
                    "title": "_in",
                    "type": "string"
                  },
                  "_language": {
                    "title": "_language",
                    "type": "string"
                  },
                  "_lastUpdated": {
                    "title": "_lastUpdated",
                    "type": "string"
                  },
                  "_list": {
                    "title": "_list",
                    "type": "string"
                  },
                  "_profile": {
                    "title": "_profile",
                    "type": "string"
                  },
                  "_query": {
                    "title": "_query",
                    "type": "string"
                  },
                  "_security": {
                    "title": "_security",
                    "type": "string"
                  },
                  "_source": {
                    "title": "_source",
                    "type": "string"
                  },
                  "_tag": {
                    "title": "_tag",
                    "type": "string"
                  },
                  "_text": {
                    "title": "_text",
                    "type": "string"
                  },
                  "_contained": {
                    "title": "_contained",
                    "type": "string"
                  },
                  "_count": {
                    "title": "_count",
                    "type": "string"
                  },
                  "_graph": {
                    "title": "_graph",
                    "type": "string"
                  },
                  "_include": {
                    "title": "_include",
                    "type": "string"
                  },
                  "_revinclude": {
                    "title": "_revinclude",
                    "type": "string"
                  },
                  "_score": {
                    "title": "_score",
                    "type": "string"
                  },
                  "_sort": {
                    "title": "_sort",
                    "type": "string"
                  },
                  "_total": {
                    "title": "_total",
                    "type": "string"
                  },
                  "_format": {
                    "title": "_format",
                    "type": "string"
                  },
                  "_has": {
                    "title": "_has",
                    "type": "string"
                  },
                  "code": {
                    "title": "code",
                    "type": "string"
                  },
                  "context": {
                    "title": "context",
                    "type": "string"
                  },
                  "device": {
                    "title": "device",
                    "type": "string"
                  },
                  "effective-time": {
                    "title": "effective-time",
                    "type": "string"
                  },
                  "identifier": {
                    "title": "identifier",
                    "type": "string"
                  },
                  "medication": {
                    "title": "medication",
                    "type": "string"
                  },
                  "patient": {
                    "title": "patient",
                    "type": "string"
                  },
                  "performer": {
                    "title": "performer",
                    "type": "string"
                  },
                  "reason-given": {
                    "title": "reason-given",
                    "type": "string"
                  },
                  "reason-not-given": {
                    "title": "reason-not-given",
                    "type": "string"
                  },
                  "request": {
                    "title": "request",
                    "type": "string"
                  },
                  "status": {
                    "title": "status",
                    "type": "string"
                  },
                  "subject": {
                    "title": "subject",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "vread: Read MedicationAdministration instance with specific version",
        "operationId": "VReadMedicationAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/resource_version"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationAdministration"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/{logical_id}/$meta-add": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "operation: execute the Add profiles, tags, and security labels to a resource operation",
        "operationId": "MedicationAdministrationInstanceMetaAddPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/{logical_id}/$meta-delete": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "operation: execute the Delete profiles, tags, and security labels for a resource operation",
        "operationId": "MedicationAdministrationInstanceMetaDeletePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/{logical_id}/$meta": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "MedicationAdministrationInstanceMetaPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicationAdministration/$meta": {
      "post": {
        "tags": [
          "MedicationAdministration"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "MedicationAdministrationMetaPost",
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "MedicationAdministration": {
        "type": "object",
        "description": "Administration of medication to a patient"
      },
      "OperationOutcome": {
        "type": "object",
        "description": "Information about the success/failure of an action"
      },
      "Bundle": {
        "type": "object",
        "description": "Contains a collection of resources"
      },
      "Parameters": {
        "type": "object",
        "description": "Operation Request or Response"
      }
    },
    "parameters": {
      "_format": {
        "name": "_format",
        "in": "query",
        "description": "Override the HTTP content negotiation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_pretty": {
        "name": "_pretty",
        "in": "query",
        "description": "Ask for a pretty printed response for human convenience",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_elements": {
        "name": "_elements",
        "in": "query",
        "description": "Ask for a particular set of elements to be returned",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_summary": {
        "name": "_summary",
        "in": "query",
        "description": "Return only portions of resources, based on pre-defined levels",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_content": {
        "name": "_content",
        "in": "query",
        "description": "Search on the entire content of the resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_filter": {
        "name": "_filter",
        "in": "query",
        "description": "Provide an inline query expression",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_id": {
        "name": "_id",
        "in": "query",
        "description": "Logical id of this artifact",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_in": {
        "name": "_in",
        "in": "query",
        "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_language": {
        "name": "_language",
        "in": "query",
        "description": "Language of the resource content",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_lastUpdated": {
        "name": "_lastUpdated",
        "in": "query",
        "description": "When the resource version last changed",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_list": {
        "name": "_list",
        "in": "query",
        "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_profile": {
        "name": "_profile",
        "in": "query",
        "description": "Profiles this resource claims to conform to",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_query": {
        "name": "_query",
        "in": "query",
        "description": "A custom search profile that describes a specific defined query operation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_security": {
        "name": "_security",
        "in": "query",
        "description": "Security Labels applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_source": {
        "name": "_source",
        "in": "query",
        "description": "Identifies where the resource comes from",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_tag": {
        "name": "_tag",
        "in": "query",
        "description": "Tags applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_text": {
        "name": "_text",
        "in": "query",
        "description": "Perform searches against the narrative content of a resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_contained": {
        "name": "_contained",
        "in": "query",
        "description": "Request different types of handling for contained resources",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_count": {
        "name": "_count",
        "in": "query",
        "description": "Limit the number of match results per page of response",
        "style": "form",
        "schema": {
          "type": "number"
        }
      },
      "_graph": {
        "name": "_graph",
        "in": "query",
        "description": "Include additional resources according to a GraphDefinition",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_include": {
        "name": "_include",
        "in": "query",
        "description": "Include additional resources, based on following links forward across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_revinclude": {
        "name": "_revinclude",
        "in": "query",
        "description": "Include additional resources, based on following reverse links across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_score": {
        "name": "_score",
        "in": "query",
        "description": "Request match relevance in results",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_sort": {
        "name": "_sort",
        "in": "query",
        "description": "Request which order results should be returned in",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_total": {
        "name": "_total",
        "in": "query",
        "description": "Request a precision of the total number of results for a request",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_has": {
        "name": "_has",
        "in": "query",
        "description": "Enables querying a reverse chain",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "code": {
        "name": "code",
        "in": "query",
        "description": "Code used in URL",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "context": {
        "name": "context",
        "in": "query",
        "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A use context assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A use context assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A use context assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A use context assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A use context assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A use context assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A use context assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A use context assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A use context assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A use context assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A use context assigned to the structure definition\r\n* [StructureMap](structuremap.html): A use context assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A use context assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A use context assigned to the value set\r\n",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "device": {
        "name": "device",
        "in": "query",
        "description": "The Device that generated the observation data.",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "effective-time": {
        "name": "effective-time",
        "in": "query",
        "description": "Date administration happened (or did not happen)",
        "schema": {
          "type": "string"
        }
      },
      "identifier": {
        "name": "identifier",
        "in": "query",
        "description": "An organization affiliation's Identifier",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "medication": {
        "name": "medication",
        "in": "query",
        "description": "Multiple Resources: \r\n\r\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication resource\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine resource\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions for this medication reference\r\n* [MedicationStatement](medicationstatement.html): Return statements of this medication reference\r\n",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "patient": {
        "name": "patient",
        "in": "query",
        "description": "Who the care plan is for\\<br /\\>\n\\<em\\>NOTE\\</em\\>: This US Core SearchParameter definition extends the usage context of\n\\<a href=\"http://hl7.org/fhir/R4/extension-capabilitystatement-expectation.html\"\\>capabilitystatement-expectation\\</a\\>\n extension to formally express implementer conformance expectations for these elements:\\<br /\\>\n - multipleAnd\\<br /\\>\n - multipleOr\\<br /\\>\n - comparator\\<br /\\>\n - modifier\\<br /\\>\n - chain\\<br /\\>",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "performer": {
        "name": "performer",
        "in": "query",
        "description": "Matches if the practitioner is listed as a performer in any of the \"simple\" activities.  (For performers of the detailed activities, chain through the activitydetail search parameter.)",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "reason-given": {
        "name": "reason-given",
        "in": "query",
        "description": "Reasons for administering the medication",
        "schema": {
          "type": "string"
        }
      },
      "reason-not-given": {
        "name": "reason-not-given",
        "in": "query",
        "description": "Reasons for not administering the medication",
        "schema": {
          "type": "string"
        }
      },
      "request": {
        "name": "request",
        "in": "query",
        "description": "The identifier of the request associated with the response",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "status": {
        "name": "status",
        "in": "query",
        "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The current status of the capability statement\r\n* [CodeSystem](codesystem.html): The current status of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The current status of the compartment definition\r\n* [ConceptMap](conceptmap.html): The current status of the concept map\r\n* [GraphDefinition](graphdefinition.html): The current status of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The current status of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The current status of the message definition\r\n* [NamingSystem](namingsystem.html): The current status of the naming system\r\n* [OperationDefinition](operationdefinition.html): The current status of the operation definition\r\n* [SearchParameter](searchparameter.html): The current status of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The current status of the structure definition\r\n* [StructureMap](structuremap.html): The current status of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The current status of the terminology capabilities\r\n* [ValueSet](valueset.html): The current status of the value set\r\n",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "subject": {
        "name": "subject",
        "in": "query",
        "description": "Who the care plan is for",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "logical_id": {
        "name": "logical_id",
        "in": "path",
        "description": "Resource Logical ID",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      },
      "resource_version": {
        "name": "resource_version",
        "in": "path",
        "description": "Resource Version Number",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://secure.server.fire.ly/.well-known/smart-configuration"
      }
    }
  },
  "security": [
    {
      "openId": [
        "openid",
        "profile",
        "fhirUser",
        "offline_access"
      ]
    }
  ],
  "tags": [
    {
      "name": "MedicationAdministration",
      "description": "Administration of medication to a patient"
    }
  ]
}
