{
  "swagger": "2.0",
  "info": {
    "title": "Firely Server - PractitionerRole",
    "version": "4.10.0"
  },
  "host": "server.fire.ly",
  "schemes": [
    "https"
  ],
  "paths": {
    "/PractitionerRole": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "create: Create a new PractitionerRole instance",
        "operationId": "CreatePractitionerRole",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A FHIR PractitionerRole",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "search-type: Search for PractitionerRole instances",
        "operationId": "SearchPractitionerRoleGet",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_contained"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_graph"
          },
          {
            "$ref": "#/parameters/_include"
          },
          {
            "$ref": "#/parameters/_revinclude"
          },
          {
            "$ref": "#/parameters/_score"
          },
          {
            "$ref": "#/parameters/_sort"
          },
          {
            "$ref": "#/parameters/_total"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/active"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/email"
          },
          {
            "$ref": "#/parameters/endpoint"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/organization"
          },
          {
            "$ref": "#/parameters/phone"
          },
          {
            "$ref": "#/parameters/practitioner"
          },
          {
            "$ref": "#/parameters/role"
          },
          {
            "$ref": "#/parameters/service"
          },
          {
            "$ref": "#/parameters/specialty"
          },
          {
            "$ref": "#/parameters/telecom"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}": {
      "delete": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "delete: Perform a loical delete on a PractitionerRole instance",
        "operationId": "DeletePractitionerRole",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/active"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/email"
          },
          {
            "$ref": "#/parameters/endpoint"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/organization"
          },
          {
            "$ref": "#/parameters/phone"
          },
          {
            "$ref": "#/parameters/practitioner"
          },
          {
            "$ref": "#/parameters/role"
          },
          {
            "$ref": "#/parameters/service"
          },
          {
            "$ref": "#/parameters/specialty"
          },
          {
            "$ref": "#/parameters/telecom"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "patch: Patch a PractitionerRole instance",
        "operationId": "PatchPractitionerRole",
        "consumes": [ ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Patch to apply to a FHIR PractitionerRole record",
            "required": true,
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "read: Read a FHIR PractitionerRole",
        "operationId": "ReadPractitionerRole",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "update,create: Update or Create a PractitionerRole instance",
        "operationId": "UpdateOrCreatePractitionerRole",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/active"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/email"
          },
          {
            "$ref": "#/parameters/endpoint"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/organization"
          },
          {
            "$ref": "#/parameters/phone"
          },
          {
            "$ref": "#/parameters/practitioner"
          },
          {
            "$ref": "#/parameters/role"
          },
          {
            "$ref": "#/parameters/service"
          },
          {
            "$ref": "#/parameters/specialty"
          },
          {
            "$ref": "#/parameters/telecom"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An updated FHIR PractitionerRole",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/_search": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "search-type: Search for PractitionerRole instances",
        "operationId": "SearchPractitionerRolePost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_elements",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_summary",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_in",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_list",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_query",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_contained",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_count",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_graph",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_include",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_revinclude",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_score",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_sort",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_total",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "active",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "endpoint",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "organization",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "phone",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "practitioner",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "role",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "service",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "specialty",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "telecom",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "vread: Read PractitionerRole instance with specific version",
        "operationId": "VReadPractitionerRole",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/resource_version"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta-add": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: This operation takes a meta, and adds the profiles, tags, and security labels found in it to the nominated resource",
        "operationId": "PractitionerRoleInstanceMetaAddPost",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input parameters to the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta-delete": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: This operation takes a meta, and deletes the profiles, tags, and security labels found in it from the nominated resource",
        "operationId": "PractitionerRoleInstanceMetaDeletePost",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input parameters to the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: This operation retrieves a summary of the profiles, tags, and security labels for the given scope; e.g. for each scope:  \n\n* system-wide: a list of all profiles, tags and security labels in use by the system \n* resource-type level: A list of all profiles, tags, and security labels for the resource type \n* individual resource level: A list of all profiles, tags, and security labels for the current version of the resource.  Also, as a special case, this operation (and other meta operations) can be performed on a historical version of a resource)",
        "operationId": "PractitionerRoleInstanceMetaPost",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input parameters to the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/$meta": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: This operation retrieves a summary of the profiles, tags, and security labels for the given scope; e.g. for each scope:  \n\n* system-wide: a list of all profiles, tags and security labels in use by the system \n* resource-type level: A list of all profiles, tags, and security labels for the resource type \n* individual resource level: A list of all profiles, tags, and security labels for the current version of the resource.  Also, as a special case, this operation (and other meta operations) can be performed on a historical version of a resource)",
        "operationId": "PractitionerRoleMetaPost",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Input parameters to the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Parameters"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    }
  },
  "definitions": {
    "PractitionerRole": {
      "description": "Roles/organizations the practitioner is associated with",
      "type": "object"
    },
    "OperationOutcome": {
      "description": "Information about the success/failure of an action",
      "type": "object"
    },
    "Bundle": {
      "description": "Contains a collection of resources",
      "type": "object"
    },
    "Parameters": {
      "description": "Operation Request or Response",
      "type": "object"
    }
  },
  "parameters": {
    "_format": {
      "in": "query",
      "name": "_format",
      "description": "Override the HTTP content negotiation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_pretty": {
      "in": "query",
      "name": "_pretty",
      "description": "Ask for a pretty printed response for human convenience",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_elements": {
      "in": "query",
      "name": "_elements",
      "description": "Ask for a particular set of elements to be returned",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_summary": {
      "in": "query",
      "name": "_summary",
      "description": "Return only portions of resources, based on pre-defined levels",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_content": {
      "in": "query",
      "name": "_content",
      "description": "Search on the entire content of the resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_filter": {
      "in": "query",
      "name": "_filter",
      "description": "Provide an inline query expression",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_id": {
      "in": "query",
      "name": "_id",
      "description": "Logical id of this artifact",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_in": {
      "in": "query",
      "name": "_in",
      "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_language": {
      "in": "query",
      "name": "_language",
      "description": "Language of the resource content",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_lastUpdated": {
      "in": "query",
      "name": "_lastUpdated",
      "description": "When the resource version last changed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_list": {
      "in": "query",
      "name": "_list",
      "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_profile": {
      "in": "query",
      "name": "_profile",
      "description": "Profiles this resource claims to conform to",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_query": {
      "in": "query",
      "name": "_query",
      "description": "A custom search profile that describes a specific defined query operation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_security": {
      "in": "query",
      "name": "_security",
      "description": "Security Labels applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_source": {
      "in": "query",
      "name": "_source",
      "description": "Identifies where the resource comes from",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_tag": {
      "in": "query",
      "name": "_tag",
      "description": "Tags applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_text": {
      "in": "query",
      "name": "_text",
      "description": "Perform searches against the narrative content of a resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_contained": {
      "in": "query",
      "name": "_contained",
      "description": "Request different types of handling for contained resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_count": {
      "in": "query",
      "name": "_count",
      "description": "Limit the number of match results per page of response",
      "type": "number",
      "collectionFormat": "multi"
    },
    "_graph": {
      "in": "query",
      "name": "_graph",
      "description": "Include additional resources according to a GraphDefinition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_include": {
      "in": "query",
      "name": "_include",
      "description": "Include additional resources, based on following links forward across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_revinclude": {
      "in": "query",
      "name": "_revinclude",
      "description": "Include additional resources, based on following reverse links across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_score": {
      "in": "query",
      "name": "_score",
      "description": "Request match relevance in results",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_sort": {
      "in": "query",
      "name": "_sort",
      "description": "Request which order results should be returned in",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_total": {
      "in": "query",
      "name": "_total",
      "description": "Request a precision of the total number of results for a request",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_has": {
      "in": "query",
      "name": "_has",
      "description": "Enables querying a reverse chain",
      "type": "string",
      "collectionFormat": "multi"
    },
    "active": {
      "in": "query",
      "name": "active",
      "description": "Indicates if the related person record is active",
      "type": "string",
      "collectionFormat": "multi"
    },
    "date": {
      "in": "query",
      "name": "date",
      "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The capability statement publication date\r\n* [CodeSystem](codesystem.html): The code system publication date\r\n* [CompartmentDefinition](compartmentdefinition.html): The compartment definition publication date\r\n* [ConceptMap](conceptmap.html): The concept map publication date\r\n* [GraphDefinition](graphdefinition.html): The graph definition publication date\r\n* [ImplementationGuide](implementationguide.html): The implementation guide publication date\r\n* [MessageDefinition](messagedefinition.html): The message definition publication date\r\n* [NamingSystem](namingsystem.html): The naming system publication date\r\n* [OperationDefinition](operationdefinition.html): The operation definition publication date\r\n* [SearchParameter](searchparameter.html): The search parameter publication date\r\n* [StructureDefinition](structuredefinition.html): The structure definition publication date\r\n* [StructureMap](structuremap.html): The structure map publication date\r\n* [TerminologyCapabilities](terminologycapabilities.html): The terminology capabilities publication date\r\n* [ValueSet](valueset.html): The value set publication date\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "email": {
      "in": "query",
      "name": "email",
      "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in an email contact\r\n* [Person](person.html): A value in an email contact\r\n* [Practitioner](practitioner.html): A value in an email contact\r\n* [PractitionerRole](practitionerrole.html): A value in an email contact\r\n* [RelatedPerson](relatedperson.html): A value in an email contact\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "endpoint": {
      "in": "query",
      "name": "endpoint",
      "description": "The endpoint for the study or series",
      "type": "string",
      "collectionFormat": "multi"
    },
    "identifier": {
      "in": "query",
      "name": "identifier",
      "description": "Multiple Resources: \r\n\r\n* [CodeSystem](codesystem.html): External identifier for the code system\r\n* [ConceptMap](conceptmap.html): External identifier for the concept map\r\n* [MessageDefinition](messagedefinition.html): External identifier for the message definition\r\n* [StructureDefinition](structuredefinition.html): External identifier for the structure definition\r\n* [StructureMap](structuremap.html): External identifier for the structure map\r\n* [ValueSet](valueset.html): External identifier for the value set\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "location": {
      "in": "query",
      "name": "location",
      "description": "The service delivery location or facility in which the vaccine was / was to be administered",
      "type": "string",
      "collectionFormat": "multi"
    },
    "organization": {
      "in": "query",
      "name": "organization",
      "description": "The organization at which this person record is being managed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "phone": {
      "in": "query",
      "name": "phone",
      "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in a phone contact\r\n* [Person](person.html): A value in a phone contact\r\n* [Practitioner](practitioner.html): A value in a phone contact\r\n* [PractitionerRole](practitionerrole.html): A value in a phone contact\r\n* [RelatedPerson](relatedperson.html): A value in a phone contact\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "practitioner": {
      "in": "query",
      "name": "practitioner",
      "description": "The Person links to this Practitioner",
      "type": "string",
      "collectionFormat": "multi"
    },
    "role": {
      "in": "query",
      "name": "role",
      "description": "Definition of the role the participatingOrganization plays",
      "type": "string",
      "collectionFormat": "multi"
    },
    "service": {
      "in": "query",
      "name": "service",
      "description": "Which rendered service is being charged?",
      "type": "string",
      "collectionFormat": "multi"
    },
    "specialty": {
      "in": "query",
      "name": "specialty",
      "description": "The specialty of a practitioner that would be required to perform the service requested in this appointment",
      "type": "string",
      "collectionFormat": "multi"
    },
    "telecom": {
      "in": "query",
      "name": "telecom",
      "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): The value in any kind of telecom details of the patient\r\n* [Person](person.html): The value in any kind of contact\r\n* [Practitioner](practitioner.html): The value in any kind of contact\r\n* [PractitionerRole](practitionerrole.html): The value in any kind of contact\r\n* [RelatedPerson](relatedperson.html): The value in any kind of contact\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "logical_id": {
      "in": "path",
      "name": "logical_id",
      "description": "Resource Logical ID",
      "required": true,
      "type": "string"
    },
    "resource_version": {
      "in": "path",
      "name": "resource_version",
      "description": "Resource Version Number",
      "required": true,
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "PractitionerRole",
      "description": "Roles/organizations the practitioner is associated with"
    }
  ]
}