{
  "openapi": "3.0.1",
  "info": {
    "title": "Firely Server - MedicinalProductManufactured",
    "version": "5.9.1+8273fb74d4fc80b7f800a387afca6c9e06fc0627"
  },
  "servers": [
    {
      "url": "https://server.fire.ly/",
      "description": "Firely Server (non-secured)"
    },
    {
      "url": "https://secure.server.fire.ly/",
      "description": "Firely Server"
    }
  ],
  "paths": {
    "/MedicinalProductManufactured": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "create: Create a new MedicinalProductManufactured instance",
        "operationId": "CreateMedicinalProductManufactured",
        "requestBody": {
          "description": "A FHIR MedicinalProductManufactured",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/MedicinalProductManufactured"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/MedicinalProductManufactured"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "search-type: Search for MedicinalProductManufactured instances",
        "operationId": "SearchMedicinalProductManufacturedGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_contained"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_graph"
          },
          {
            "$ref": "#/components/parameters/_include"
          },
          {
            "$ref": "#/components/parameters/_revinclude"
          },
          {
            "$ref": "#/components/parameters/_score"
          },
          {
            "$ref": "#/components/parameters/_sort"
          },
          {
            "$ref": "#/components/parameters/_total"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/{logical_id}": {
      "delete": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "delete: Perform a logical delete on a MedicinalProductManufactured instance",
        "operationId": "DeleteMedicinalProductManufactured",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "patch: Patch a MedicinalProductManufactured instance",
        "operationId": "PatchMedicinalProductManufactured",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Patch to apply to a FHIR MedicinalProductManufactured record",
          "content": {},
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "read: Read a FHIR MedicinalProductManufactured",
        "operationId": "ReadMedicinalProductManufactured",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "update,create: Update or Create a MedicinalProductManufactured instance",
        "operationId": "UpdateOrCreateMedicinalProductManufactured",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          }
        ],
        "requestBody": {
          "description": "An updated FHIR MedicinalProductManufactured",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/MedicinalProductManufactured"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/MedicinalProductManufactured"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/_search": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "search-type: Search for MedicinalProductManufactured instances",
        "operationId": "SearchMedicinalProductManufacturedPost",
        "requestBody": {
          "description": "FHIR search parameters",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_elements": {
                    "title": "_elements",
                    "type": "string"
                  },
                  "_summary": {
                    "title": "_summary",
                    "type": "string"
                  },
                  "_content": {
                    "title": "_content",
                    "type": "string"
                  },
                  "_filter": {
                    "title": "_filter",
                    "type": "string"
                  },
                  "_id": {
                    "title": "_id",
                    "type": "string"
                  },
                  "_in": {
                    "title": "_in",
                    "type": "string"
                  },
                  "_language": {
                    "title": "_language",
                    "type": "string"
                  },
                  "_lastUpdated": {
                    "title": "_lastUpdated",
                    "type": "string"
                  },
                  "_list": {
                    "title": "_list",
                    "type": "string"
                  },
                  "_profile": {
                    "title": "_profile",
                    "type": "string"
                  },
                  "_query": {
                    "title": "_query",
                    "type": "string"
                  },
                  "_security": {
                    "title": "_security",
                    "type": "string"
                  },
                  "_source": {
                    "title": "_source",
                    "type": "string"
                  },
                  "_tag": {
                    "title": "_tag",
                    "type": "string"
                  },
                  "_text": {
                    "title": "_text",
                    "type": "string"
                  },
                  "_contained": {
                    "title": "_contained",
                    "type": "string"
                  },
                  "_count": {
                    "title": "_count",
                    "type": "string"
                  },
                  "_graph": {
                    "title": "_graph",
                    "type": "string"
                  },
                  "_include": {
                    "title": "_include",
                    "type": "string"
                  },
                  "_revinclude": {
                    "title": "_revinclude",
                    "type": "string"
                  },
                  "_score": {
                    "title": "_score",
                    "type": "string"
                  },
                  "_sort": {
                    "title": "_sort",
                    "type": "string"
                  },
                  "_total": {
                    "title": "_total",
                    "type": "string"
                  },
                  "_format": {
                    "title": "_format",
                    "type": "string"
                  },
                  "_has": {
                    "title": "_has",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "vread: Read MedicinalProductManufactured instance with specific version",
        "operationId": "VReadMedicinalProductManufactured",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/resource_version"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/MedicinalProductManufactured"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/{logical_id}/$meta-add": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "operation: execute the Add profiles, tags, and security labels to a resource operation",
        "operationId": "MedicinalProductManufacturedInstanceMetaAddPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/{logical_id}/$meta-delete": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "operation: execute the Delete profiles, tags, and security labels for a resource operation",
        "operationId": "MedicinalProductManufacturedInstanceMetaDeletePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/{logical_id}/$meta": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "MedicinalProductManufacturedInstanceMetaPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/MedicinalProductManufactured/$meta": {
      "post": {
        "tags": [
          "MedicinalProductManufactured"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "MedicinalProductManufacturedMetaPost",
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "MedicinalProductManufactured": {
        "type": "object",
        "description": "The manufactured item as contained in the packaged medicinal product"
      },
      "OperationOutcome": {
        "type": "object",
        "description": "Information about the success/failure of an action"
      },
      "Bundle": {
        "type": "object",
        "description": "Contains a collection of resources"
      },
      "Parameters": {
        "type": "object",
        "description": "Operation Request or Response"
      }
    },
    "parameters": {
      "_format": {
        "name": "_format",
        "in": "query",
        "description": "Override the HTTP content negotiation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_pretty": {
        "name": "_pretty",
        "in": "query",
        "description": "Ask for a pretty printed response for human convenience",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_elements": {
        "name": "_elements",
        "in": "query",
        "description": "Ask for a particular set of elements to be returned",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_summary": {
        "name": "_summary",
        "in": "query",
        "description": "Return only portions of resources, based on pre-defined levels",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_content": {
        "name": "_content",
        "in": "query",
        "description": "Search on the entire content of the resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_filter": {
        "name": "_filter",
        "in": "query",
        "description": "Provide an inline query expression",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_id": {
        "name": "_id",
        "in": "query",
        "description": "Logical id of this artifact",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_in": {
        "name": "_in",
        "in": "query",
        "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_language": {
        "name": "_language",
        "in": "query",
        "description": "Language of the resource content",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_lastUpdated": {
        "name": "_lastUpdated",
        "in": "query",
        "description": "When the resource version last changed",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_list": {
        "name": "_list",
        "in": "query",
        "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_profile": {
        "name": "_profile",
        "in": "query",
        "description": "Profiles this resource claims to conform to",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_query": {
        "name": "_query",
        "in": "query",
        "description": "A custom search profile that describes a specific defined query operation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_security": {
        "name": "_security",
        "in": "query",
        "description": "Security Labels applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_source": {
        "name": "_source",
        "in": "query",
        "description": "Identifies where the resource comes from",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_tag": {
        "name": "_tag",
        "in": "query",
        "description": "Tags applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_text": {
        "name": "_text",
        "in": "query",
        "description": "Perform searches against the narrative content of a resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_contained": {
        "name": "_contained",
        "in": "query",
        "description": "Request different types of handling for contained resources",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_count": {
        "name": "_count",
        "in": "query",
        "description": "Limit the number of match results per page of response",
        "style": "form",
        "schema": {
          "type": "number"
        }
      },
      "_graph": {
        "name": "_graph",
        "in": "query",
        "description": "Include additional resources according to a GraphDefinition",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_include": {
        "name": "_include",
        "in": "query",
        "description": "Include additional resources, based on following links forward across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_revinclude": {
        "name": "_revinclude",
        "in": "query",
        "description": "Include additional resources, based on following reverse links across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_score": {
        "name": "_score",
        "in": "query",
        "description": "Request match relevance in results",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_sort": {
        "name": "_sort",
        "in": "query",
        "description": "Request which order results should be returned in",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_total": {
        "name": "_total",
        "in": "query",
        "description": "Request a precision of the total number of results for a request",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_has": {
        "name": "_has",
        "in": "query",
        "description": "Enables querying a reverse chain",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "logical_id": {
        "name": "logical_id",
        "in": "path",
        "description": "Resource Logical ID",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      },
      "resource_version": {
        "name": "resource_version",
        "in": "path",
        "description": "Resource Version Number",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://secure.server.fire.ly/.well-known/smart-configuration"
      }
    }
  },
  "security": [
    {
      "openId": [
        "openid",
        "profile",
        "roles",
        "fhirUser",
        "patient/MedicinalProductUndesirableEffect.c",
        "patient/MedicinalProductUndesirableEffect.r",
        "patient/MedicinalProductUndesirableEffect.u",
        "patient/MedicinalProductUndesirableEffect.d",
        "patient/MedicinalProductUndesirableEffect.s",
        "patient/MedicinalProductUndesirableEffect.cr",
        "patient/MedicinalProductUndesirableEffect.cu",
        "patient/MedicinalProductUndesirableEffect.cd",
        "patient/MedicinalProductUndesirableEffect.cs",
        "patient/MedicinalProductUndesirableEffect.ru",
        "patient/MedicinalProductUndesirableEffect.rd",
        "patient/MedicinalProductUndesirableEffect.rs",
        "patient/MedicinalProductUndesirableEffect.ud",
        "patient/MedicinalProductUndesirableEffect.us",
        "patient/MedicinalProductUndesirableEffect.ds",
        "patient/MedicinalProductUndesirableEffect.cru",
        "patient/MedicinalProductUndesirableEffect.crd",
        "patient/MedicinalProductUndesirableEffect.crs",
        "patient/MedicinalProductUndesirableEffect.cud",
        "patient/MedicinalProductUndesirableEffect.cus",
        "patient/MedicinalProductUndesirableEffect.cds",
        "patient/MedicinalProductUndesirableEffect.rud",
        "patient/MedicinalProductUndesirableEffect.rus",
        "patient/MedicinalProductUndesirableEffect.rds",
        "patient/MedicinalProductUndesirableEffect.uds",
        "patient/MedicinalProductUndesirableEffect.crud",
        "patient/MedicinalProductUndesirableEffect.crus",
        "patient/MedicinalProductUndesirableEffect.crds",
        "patient/MedicinalProductUndesirableEffect.cuds",
        "patient/MedicinalProductUndesirableEffect.ruds",
        "patient/MedicinalProductUndesirableEffect.cruds",
        "patient/MedicinalProductUndesirableEffect.*",
        "patient/MedicinalProductUndesirableEffect.read",
        "patient/MedicinalProductUndesirableEffect.write",
        "user/MedicinalProductUndesirableEffect.c",
        "user/MedicinalProductUndesirableEffect.r",
        "user/MedicinalProductUndesirableEffect.u",
        "user/MedicinalProductUndesirableEffect.d",
        "user/MedicinalProductUndesirableEffect.s",
        "user/MedicinalProductUndesirableEffect.cr",
        "user/MedicinalProductUndesirableEffect.cu",
        "user/MedicinalProductUndesirableEffect.cd",
        "user/MedicinalProductUndesirableEffect.cs",
        "user/MedicinalProductUndesirableEffect.ru",
        "user/MedicinalProductUndesirableEffect.rd",
        "user/MedicinalProductUndesirableEffect.rs",
        "user/MedicinalProductUndesirableEffect.ud",
        "user/MedicinalProductUndesirableEffect.us",
        "user/MedicinalProductUndesirableEffect.ds",
        "user/MedicinalProductUndesirableEffect.cru",
        "user/MedicinalProductUndesirableEffect.crd",
        "user/MedicinalProductUndesirableEffect.crs",
        "user/MedicinalProductUndesirableEffect.cud",
        "user/MedicinalProductUndesirableEffect.cus",
        "user/MedicinalProductUndesirableEffect.cds",
        "user/MedicinalProductUndesirableEffect.rud",
        "user/MedicinalProductUndesirableEffect.rus",
        "user/MedicinalProductUndesirableEffect.rds",
        "user/MedicinalProductUndesirableEffect.uds",
        "user/MedicinalProductUndesirableEffect.crud",
        "user/MedicinalProductUndesirableEffect.crus",
        "user/MedicinalProductUndesirableEffect.crds",
        "user/MedicinalProductUndesirableEffect.cuds",
        "user/MedicinalProductUndesirableEffect.ruds",
        "user/MedicinalProductUndesirableEffect.cruds",
        "user/MedicinalProductUndesirableEffect.*",
        "user/MedicinalProductUndesirableEffect.read",
        "user/MedicinalProductUndesirableEffect.write",
        "system/MedicinalProductUndesirableEffect.c",
        "system/MedicinalProductUndesirableEffect.r",
        "system/MedicinalProductUndesirableEffect.u",
        "system/MedicinalProductUndesirableEffect.d",
        "system/MedicinalProductUndesirableEffect.s",
        "system/MedicinalProductUndesirableEffect.cr",
        "system/MedicinalProductUndesirableEffect.cu",
        "system/MedicinalProductUndesirableEffect.cd",
        "system/MedicinalProductUndesirableEffect.cs",
        "system/MedicinalProductUndesirableEffect.ru",
        "system/MedicinalProductUndesirableEffect.rd",
        "system/MedicinalProductUndesirableEffect.rs",
        "system/MedicinalProductUndesirableEffect.ud",
        "system/MedicinalProductUndesirableEffect.us",
        "system/MedicinalProductUndesirableEffect.ds",
        "system/MedicinalProductUndesirableEffect.cru",
        "system/MedicinalProductUndesirableEffect.crd",
        "system/MedicinalProductUndesirableEffect.crs",
        "system/MedicinalProductUndesirableEffect.cud",
        "system/MedicinalProductUndesirableEffect.cus",
        "system/MedicinalProductUndesirableEffect.cds",
        "system/MedicinalProductUndesirableEffect.rud",
        "system/MedicinalProductUndesirableEffect.rus",
        "system/MedicinalProductUndesirableEffect.rds",
        "system/MedicinalProductUndesirableEffect.uds",
        "system/MedicinalProductUndesirableEffect.crud",
        "system/MedicinalProductUndesirableEffect.crus",
        "system/MedicinalProductUndesirableEffect.crds",
        "system/MedicinalProductUndesirableEffect.cuds",
        "system/MedicinalProductUndesirableEffect.ruds",
        "system/MedicinalProductUndesirableEffect.cruds",
        "system/MedicinalProductUndesirableEffect.*",
        "system/MedicinalProductUndesirableEffect.read",
        "system/MedicinalProductUndesirableEffect.write",
        "launch/medicinalproductundesirableeffect",
        "patient/MedicinalProductContraindication.c",
        "patient/MedicinalProductContraindication.r",
        "patient/MedicinalProductContraindication.u",
        "patient/MedicinalProductContraindication.d",
        "patient/MedicinalProductContraindication.s",
        "patient/MedicinalProductContraindication.cr",
        "patient/MedicinalProductContraindication.cu",
        "patient/MedicinalProductContraindication.cd",
        "patient/MedicinalProductContraindication.cs",
        "patient/MedicinalProductContraindication.ru",
        "patient/MedicinalProductContraindication.rd",
        "patient/MedicinalProductContraindication.rs",
        "patient/MedicinalProductContraindication.ud",
        "patient/MedicinalProductContraindication.us",
        "patient/MedicinalProductContraindication.ds",
        "patient/MedicinalProductContraindication.cru",
        "patient/MedicinalProductContraindication.crd",
        "patient/MedicinalProductContraindication.crs",
        "patient/MedicinalProductContraindication.cud",
        "patient/MedicinalProductContraindication.cus",
        "patient/MedicinalProductContraindication.cds",
        "patient/MedicinalProductContraindication.rud",
        "patient/MedicinalProductContraindication.rus",
        "patient/MedicinalProductContraindication.rds",
        "patient/MedicinalProductContraindication.uds",
        "patient/MedicinalProductContraindication.crud",
        "patient/MedicinalProductContraindication.crus",
        "patient/MedicinalProductContraindication.crds",
        "patient/MedicinalProductContraindication.cuds",
        "patient/MedicinalProductContraindication.ruds",
        "patient/MedicinalProductContraindication.cruds",
        "patient/MedicinalProductContraindication.*",
        "patient/MedicinalProductContraindication.read",
        "patient/MedicinalProductContraindication.write",
        "user/MedicinalProductContraindication.c",
        "user/MedicinalProductContraindication.r",
        "user/MedicinalProductContraindication.u",
        "user/MedicinalProductContraindication.d",
        "user/MedicinalProductContraindication.s",
        "user/MedicinalProductContraindication.cr",
        "user/MedicinalProductContraindication.cu",
        "user/MedicinalProductContraindication.cd",
        "user/MedicinalProductContraindication.cs",
        "user/MedicinalProductContraindication.ru",
        "user/MedicinalProductContraindication.rd",
        "user/MedicinalProductContraindication.rs",
        "user/MedicinalProductContraindication.ud",
        "user/MedicinalProductContraindication.us",
        "user/MedicinalProductContraindication.ds",
        "user/MedicinalProductContraindication.cru",
        "user/MedicinalProductContraindication.crd",
        "user/MedicinalProductContraindication.crs",
        "user/MedicinalProductContraindication.cud",
        "user/MedicinalProductContraindication.cus",
        "user/MedicinalProductContraindication.cds",
        "user/MedicinalProductContraindication.rud",
        "user/MedicinalProductContraindication.rus",
        "user/MedicinalProductContraindication.rds",
        "user/MedicinalProductContraindication.uds",
        "user/MedicinalProductContraindication.crud",
        "user/MedicinalProductContraindication.crus",
        "user/MedicinalProductContraindication.crds",
        "user/MedicinalProductContraindication.cuds",
        "user/MedicinalProductContraindication.ruds",
        "user/MedicinalProductContraindication.cruds",
        "user/MedicinalProductContraindication.*",
        "user/MedicinalProductContraindication.read",
        "user/MedicinalProductContraindication.write",
        "system/MedicinalProductContraindication.c",
        "system/MedicinalProductContraindication.r",
        "system/MedicinalProductContraindication.u",
        "system/MedicinalProductContraindication.d",
        "system/MedicinalProductContraindication.s",
        "system/MedicinalProductContraindication.cr",
        "system/MedicinalProductContraindication.cu",
        "system/MedicinalProductContraindication.cd",
        "system/MedicinalProductContraindication.cs",
        "system/MedicinalProductContraindication.ru",
        "system/MedicinalProductContraindication.rd",
        "system/MedicinalProductContraindication.rs",
        "system/MedicinalProductContraindication.ud",
        "system/MedicinalProductContraindication.us",
        "system/MedicinalProductContraindication.ds",
        "system/MedicinalProductContraindication.cru",
        "system/MedicinalProductContraindication.crd",
        "system/MedicinalProductContraindication.crs",
        "system/MedicinalProductContraindication.cud",
        "system/MedicinalProductContraindication.cus",
        "system/MedicinalProductContraindication.cds",
        "system/MedicinalProductContraindication.rud",
        "system/MedicinalProductContraindication.rus",
        "system/MedicinalProductContraindication.rds",
        "system/MedicinalProductContraindication.uds",
        "system/MedicinalProductContraindication.crud",
        "system/MedicinalProductContraindication.crus",
        "system/MedicinalProductContraindication.crds",
        "system/MedicinalProductContraindication.cuds",
        "system/MedicinalProductContraindication.ruds",
        "system/MedicinalProductContraindication.cruds",
        "system/MedicinalProductContraindication.*",
        "system/MedicinalProductContraindication.read",
        "system/MedicinalProductContraindication.write",
        "launch/medicinalproductcontraindication",
        "patient/MedicinalProductPharmaceutical.c",
        "patient/MedicinalProductPharmaceutical.r",
        "patient/MedicinalProductPharmaceutical.u",
        "patient/MedicinalProductPharmaceutical.d",
        "patient/MedicinalProductPharmaceutical.s",
        "patient/MedicinalProductPharmaceutical.cr",
        "patient/MedicinalProductPharmaceutical.cu",
        "patient/MedicinalProductPharmaceutical.cd",
        "patient/MedicinalProductPharmaceutical.cs",
        "patient/MedicinalProductPharmaceutical.ru",
        "patient/MedicinalProductPharmaceutical.rd",
        "patient/MedicinalProductPharmaceutical.rs",
        "patient/MedicinalProductPharmaceutical.ud",
        "patient/MedicinalProductPharmaceutical.us",
        "patient/MedicinalProductPharmaceutical.ds",
        "patient/MedicinalProductPharmaceutical.cru",
        "patient/MedicinalProductPharmaceutical.crd",
        "patient/MedicinalProductPharmaceutical.crs",
        "patient/MedicinalProductPharmaceutical.cud",
        "patient/MedicinalProductPharmaceutical.cus",
        "patient/MedicinalProductPharmaceutical.cds",
        "patient/MedicinalProductPharmaceutical.rud",
        "patient/MedicinalProductPharmaceutical.rus",
        "patient/MedicinalProductPharmaceutical.rds",
        "patient/MedicinalProductPharmaceutical.uds",
        "patient/MedicinalProductPharmaceutical.crud",
        "patient/MedicinalProductPharmaceutical.crus",
        "patient/MedicinalProductPharmaceutical.crds",
        "patient/MedicinalProductPharmaceutical.cuds",
        "patient/MedicinalProductPharmaceutical.ruds",
        "patient/MedicinalProductPharmaceutical.cruds",
        "patient/MedicinalProductPharmaceutical.*",
        "patient/MedicinalProductPharmaceutical.read",
        "patient/MedicinalProductPharmaceutical.write",
        "user/MedicinalProductPharmaceutical.c",
        "user/MedicinalProductPharmaceutical.r",
        "user/MedicinalProductPharmaceutical.u",
        "user/MedicinalProductPharmaceutical.d",
        "user/MedicinalProductPharmaceutical.s",
        "user/MedicinalProductPharmaceutical.cr",
        "user/MedicinalProductPharmaceutical.cu",
        "user/MedicinalProductPharmaceutical.cd",
        "user/MedicinalProductPharmaceutical.cs",
        "user/MedicinalProductPharmaceutical.ru",
        "user/MedicinalProductPharmaceutical.rd",
        "user/MedicinalProductPharmaceutical.rs",
        "user/MedicinalProductPharmaceutical.ud",
        "user/MedicinalProductPharmaceutical.us",
        "user/MedicinalProductPharmaceutical.ds",
        "user/MedicinalProductPharmaceutical.cru",
        "user/MedicinalProductPharmaceutical.crd",
        "user/MedicinalProductPharmaceutical.crs",
        "user/MedicinalProductPharmaceutical.cud",
        "user/MedicinalProductPharmaceutical.cus",
        "user/MedicinalProductPharmaceutical.cds",
        "user/MedicinalProductPharmaceutical.rud",
        "user/MedicinalProductPharmaceutical.rus",
        "user/MedicinalProductPharmaceutical.rds",
        "user/MedicinalProductPharmaceutical.uds",
        "user/MedicinalProductPharmaceutical.crud",
        "user/MedicinalProductPharmaceutical.crus",
        "user/MedicinalProductPharmaceutical.crds",
        "user/MedicinalProductPharmaceutical.cuds",
        "user/MedicinalProductPharmaceutical.ruds",
        "user/MedicinalProductPharmaceutical.cruds",
        "user/MedicinalProductPharmaceutical.*",
        "user/MedicinalProductPharmaceutical.read",
        "user/MedicinalProductPharmaceutical.write",
        "system/MedicinalProductPharmaceutical.c",
        "system/MedicinalProductPharmaceutical.r",
        "system/MedicinalProductPharmaceutical.u",
        "system/MedicinalProductPharmaceutical.d",
        "system/MedicinalProductPharmaceutical.s",
        "system/MedicinalProductPharmaceutical.cr",
        "system/MedicinalProductPharmaceutical.cu",
        "system/MedicinalProductPharmaceutical.cd",
        "system/MedicinalProductPharmaceutical.cs",
        "system/MedicinalProductPharmaceutical.ru",
        "system/MedicinalProductPharmaceutical.rd",
        "system/MedicinalProductPharmaceutical.rs",
        "system/MedicinalProductPharmaceutical.ud",
        "system/MedicinalProductPharmaceutical.us",
        "system/MedicinalProductPharmaceutical.ds",
        "system/MedicinalProductPharmaceutical.cru",
        "system/MedicinalProductPharmaceutical.crd",
        "system/MedicinalProductPharmaceutical.crs",
        "system/MedicinalProductPharmaceutical.cud",
        "system/MedicinalProductPharmaceutical.cus",
        "system/MedicinalProductPharmaceutical.cds",
        "system/MedicinalProductPharmaceutical.rud",
        "system/MedicinalProductPharmaceutical.rus",
        "system/MedicinalProductPharmaceutical.rds",
        "system/MedicinalProductPharmaceutical.uds",
        "system/MedicinalProductPharmaceutical.crud",
        "system/MedicinalProductPharmaceutical.crus",
        "system/MedicinalProductPharmaceutical.crds",
        "system/MedicinalProductPharmaceutical.cuds",
        "system/MedicinalProductPharmaceutical.ruds",
        "system/MedicinalProductPharmaceutical.cruds",
        "system/MedicinalProductPharmaceutical.*",
        "system/MedicinalProductPharmaceutical.read",
        "system/MedicinalProductPharmaceutical.write",
        "launch/medicinalproductpharmaceutical",
        "patient/MedicinalProductAuthorization.c",
        "patient/MedicinalProductAuthorization.r",
        "patient/MedicinalProductAuthorization.u",
        "patient/MedicinalProductAuthorization.d",
        "patient/MedicinalProductAuthorization.s",
        "patient/MedicinalProductAuthorization.cr",
        "patient/MedicinalProductAuthorization.cu",
        "patient/MedicinalProductAuthorization.cd",
        "patient/MedicinalProductAuthorization.cs",
        "patient/MedicinalProductAuthorization.ru",
        "patient/MedicinalProductAuthorization.rd",
        "patient/MedicinalProductAuthorization.rs",
        "patient/MedicinalProductAuthorization.ud",
        "patient/MedicinalProductAuthorization.us",
        "patient/MedicinalProductAuthorization.ds",
        "patient/MedicinalProductAuthorization.cru",
        "patient/MedicinalProductAuthorization.crd",
        "patient/MedicinalProductAuthorization.crs",
        "patient/MedicinalProductAuthorization.cud",
        "patient/MedicinalProductAuthorization.cus",
        "patient/MedicinalProductAuthorization.cds",
        "patient/MedicinalProductAuthorization.rud",
        "patient/MedicinalProductAuthorization.rus",
        "patient/MedicinalProductAuthorization.rds",
        "patient/MedicinalProductAuthorization.uds",
        "patient/MedicinalProductAuthorization.crud",
        "patient/MedicinalProductAuthorization.crus",
        "patient/MedicinalProductAuthorization.crds",
        "patient/MedicinalProductAuthorization.cuds",
        "patient/MedicinalProductAuthorization.ruds",
        "patient/MedicinalProductAuthorization.cruds",
        "patient/MedicinalProductAuthorization.*",
        "patient/MedicinalProductAuthorization.read",
        "patient/MedicinalProductAuthorization.write",
        "user/MedicinalProductAuthorization.c",
        "user/MedicinalProductAuthorization.r",
        "user/MedicinalProductAuthorization.u",
        "user/MedicinalProductAuthorization.d",
        "user/MedicinalProductAuthorization.s",
        "user/MedicinalProductAuthorization.cr",
        "user/MedicinalProductAuthorization.cu",
        "user/MedicinalProductAuthorization.cd",
        "user/MedicinalProductAuthorization.cs",
        "user/MedicinalProductAuthorization.ru",
        "user/MedicinalProductAuthorization.rd",
        "user/MedicinalProductAuthorization.rs",
        "user/MedicinalProductAuthorization.ud",
        "user/MedicinalProductAuthorization.us",
        "user/MedicinalProductAuthorization.ds",
        "user/MedicinalProductAuthorization.cru",
        "user/MedicinalProductAuthorization.crd",
        "user/MedicinalProductAuthorization.crs",
        "user/MedicinalProductAuthorization.cud",
        "user/MedicinalProductAuthorization.cus",
        "user/MedicinalProductAuthorization.cds",
        "user/MedicinalProductAuthorization.rud",
        "user/MedicinalProductAuthorization.rus",
        "user/MedicinalProductAuthorization.rds",
        "user/MedicinalProductAuthorization.uds",
        "user/MedicinalProductAuthorization.crud",
        "user/MedicinalProductAuthorization.crus",
        "user/MedicinalProductAuthorization.crds",
        "user/MedicinalProductAuthorization.cuds",
        "user/MedicinalProductAuthorization.ruds",
        "user/MedicinalProductAuthorization.cruds",
        "user/MedicinalProductAuthorization.*",
        "user/MedicinalProductAuthorization.read",
        "user/MedicinalProductAuthorization.write",
        "system/MedicinalProductAuthorization.c",
        "system/MedicinalProductAuthorization.r",
        "system/MedicinalProductAuthorization.u",
        "system/MedicinalProductAuthorization.d",
        "system/MedicinalProductAuthorization.s",
        "system/MedicinalProductAuthorization.cr",
        "system/MedicinalProductAuthorization.cu",
        "system/MedicinalProductAuthorization.cd",
        "system/MedicinalProductAuthorization.cs",
        "system/MedicinalProductAuthorization.ru",
        "system/MedicinalProductAuthorization.rd",
        "system/MedicinalProductAuthorization.rs",
        "system/MedicinalProductAuthorization.ud",
        "system/MedicinalProductAuthorization.us",
        "system/MedicinalProductAuthorization.ds",
        "system/MedicinalProductAuthorization.cru",
        "system/MedicinalProductAuthorization.crd",
        "system/MedicinalProductAuthorization.crs",
        "system/MedicinalProductAuthorization.cud",
        "system/MedicinalProductAuthorization.cus",
        "system/MedicinalProductAuthorization.cds",
        "system/MedicinalProductAuthorization.rud",
        "system/MedicinalProductAuthorization.rus",
        "system/MedicinalProductAuthorization.rds",
        "system/MedicinalProductAuthorization.uds",
        "system/MedicinalProductAuthorization.crud",
        "system/MedicinalProductAuthorization.crus",
        "system/MedicinalProductAuthorization.crds",
        "system/MedicinalProductAuthorization.cuds",
        "system/MedicinalProductAuthorization.ruds",
        "system/MedicinalProductAuthorization.cruds",
        "system/MedicinalProductAuthorization.*",
        "system/MedicinalProductAuthorization.read",
        "system/MedicinalProductAuthorization.write",
        "launch/medicinalproductauthorization",
        "patient/SubstanceReferenceInformation.c",
        "patient/SubstanceReferenceInformation.r",
        "patient/SubstanceReferenceInformation.u",
        "patient/SubstanceReferenceInformation.d",
        "patient/SubstanceReferenceInformation.s",
        "patient/SubstanceReferenceInformation.cr",
        "patient/SubstanceReferenceInformation.cu",
        "patient/SubstanceReferenceInformation.cd",
        "patient/SubstanceReferenceInformation.cs",
        "patient/SubstanceReferenceInformation.ru",
        "patient/SubstanceReferenceInformation.rd",
        "patient/SubstanceReferenceInformation.rs",
        "patient/SubstanceReferenceInformation.ud",
        "patient/SubstanceReferenceInformation.us",
        "patient/SubstanceReferenceInformation.ds",
        "patient/SubstanceReferenceInformation.cru",
        "patient/SubstanceReferenceInformation.crd",
        "patient/SubstanceReferenceInformation.crs",
        "patient/SubstanceReferenceInformation.cud",
        "patient/SubstanceReferenceInformation.cus",
        "patient/SubstanceReferenceInformation.cds",
        "patient/SubstanceReferenceInformation.rud",
        "patient/SubstanceReferenceInformation.rus",
        "patient/SubstanceReferenceInformation.rds",
        "patient/SubstanceReferenceInformation.uds",
        "patient/SubstanceReferenceInformation.crud",
        "patient/SubstanceReferenceInformation.crus",
        "patient/SubstanceReferenceInformation.crds",
        "patient/SubstanceReferenceInformation.cuds",
        "patient/SubstanceReferenceInformation.ruds",
        "patient/SubstanceReferenceInformation.cruds",
        "patient/SubstanceReferenceInformation.*",
        "patient/SubstanceReferenceInformation.read",
        "patient/SubstanceReferenceInformation.write",
        "user/SubstanceReferenceInformation.c",
        "user/SubstanceReferenceInformation.r",
        "user/SubstanceReferenceInformation.u",
        "user/SubstanceReferenceInformation.d",
        "user/SubstanceReferenceInformation.s",
        "user/SubstanceReferenceInformation.cr",
        "user/SubstanceReferenceInformation.cu",
        "user/SubstanceReferenceInformation.cd",
        "user/SubstanceReferenceInformation.cs",
        "user/SubstanceReferenceInformation.ru",
        "user/SubstanceReferenceInformation.rd",
        "user/SubstanceReferenceInformation.rs",
        "user/SubstanceReferenceInformation.ud",
        "user/SubstanceReferenceInformation.us",
        "user/SubstanceReferenceInformation.ds",
        "user/SubstanceReferenceInformation.cru",
        "user/SubstanceReferenceInformation.crd",
        "user/SubstanceReferenceInformation.crs",
        "user/SubstanceReferenceInformation.cud",
        "user/SubstanceReferenceInformation.cus",
        "user/SubstanceReferenceInformation.cds",
        "user/SubstanceReferenceInformation.rud",
        "user/SubstanceReferenceInformation.rus",
        "user/SubstanceReferenceInformation.rds",
        "user/SubstanceReferenceInformation.uds",
        "user/SubstanceReferenceInformation.crud",
        "user/SubstanceReferenceInformation.crus",
        "user/SubstanceReferenceInformation.crds",
        "user/SubstanceReferenceInformation.cuds",
        "user/SubstanceReferenceInformation.ruds",
        "user/SubstanceReferenceInformation.cruds",
        "user/SubstanceReferenceInformation.*",
        "user/SubstanceReferenceInformation.read",
        "user/SubstanceReferenceInformation.write",
        "system/SubstanceReferenceInformation.c",
        "system/SubstanceReferenceInformation.r",
        "system/SubstanceReferenceInformation.u",
        "system/SubstanceReferenceInformation.d",
        "system/SubstanceReferenceInformation.s",
        "system/SubstanceReferenceInformation.cr",
        "system/SubstanceReferenceInformation.cu",
        "system/SubstanceReferenceInformation.cd",
        "system/SubstanceReferenceInformation.cs",
        "system/SubstanceReferenceInformation.ru",
        "system/SubstanceReferenceInformation.rd",
        "system/SubstanceReferenceInformation.rs",
        "system/SubstanceReferenceInformation.ud",
        "system/SubstanceReferenceInformation.us",
        "system/SubstanceReferenceInformation.ds",
        "system/SubstanceReferenceInformation.cru",
        "system/SubstanceReferenceInformation.crd",
        "system/SubstanceReferenceInformation.crs",
        "system/SubstanceReferenceInformation.cud",
        "system/SubstanceReferenceInformation.cus",
        "system/SubstanceReferenceInformation.cds",
        "system/SubstanceReferenceInformation.rud",
        "system/SubstanceReferenceInformation.rus",
        "system/SubstanceReferenceInformation.rds",
        "system/SubstanceReferenceInformation.uds",
        "system/SubstanceReferenceInformation.crud",
        "system/SubstanceReferenceInformation.crus",
        "system/SubstanceReferenceInformation.crds",
        "system/SubstanceReferenceInformation.cuds",
        "system/SubstanceReferenceInformation.ruds",
        "system/SubstanceReferenceInformation.cruds",
        "system/SubstanceReferenceInformation.*",
        "system/SubstanceReferenceInformation.read",
        "system/SubstanceReferenceInformation.write",
        "launch/substancereferenceinformation",
        "patient/MedicinalProductManufactured.c",
        "patient/MedicinalProductManufactured.r",
        "patient/MedicinalProductManufactured.u",
        "patient/MedicinalProductManufactured.d",
        "patient/MedicinalProductManufactured.s",
        "patient/MedicinalProductManufactured.cr",
        "patient/MedicinalProductManufactured.cu",
        "patient/MedicinalProductManufactured.cd",
        "patient/MedicinalProductManufactured.cs",
        "patient/MedicinalProductManufactured.ru",
        "patient/MedicinalProductManufactured.rd",
        "patient/MedicinalProductManufactured.rs",
        "patient/MedicinalProductManufactured.ud",
        "patient/MedicinalProductManufactured.us",
        "patient/MedicinalProductManufactured.ds",
        "patient/MedicinalProductManufactured.cru",
        "patient/MedicinalProductManufactured.crd",
        "patient/MedicinalProductManufactured.crs",
        "patient/MedicinalProductManufactured.cud",
        "patient/MedicinalProductManufactured.cus",
        "patient/MedicinalProductManufactured.cds",
        "patient/MedicinalProductManufactured.rud",
        "patient/MedicinalProductManufactured.rus",
        "patient/MedicinalProductManufactured.rds",
        "patient/MedicinalProductManufactured.uds",
        "patient/MedicinalProductManufactured.crud",
        "patient/MedicinalProductManufactured.crus",
        "patient/MedicinalProductManufactured.crds",
        "patient/MedicinalProductManufactured.cuds",
        "patient/MedicinalProductManufactured.ruds",
        "patient/MedicinalProductManufactured.cruds",
        "patient/MedicinalProductManufactured.*",
        "patient/MedicinalProductManufactured.read",
        "patient/MedicinalProductManufactured.write",
        "user/MedicinalProductManufactured.c",
        "user/MedicinalProductManufactured.r",
        "user/MedicinalProductManufactured.u",
        "user/MedicinalProductManufactured.d",
        "user/MedicinalProductManufactured.s",
        "user/MedicinalProductManufactured.cr",
        "user/MedicinalProductManufactured.cu",
        "user/MedicinalProductManufactured.cd",
        "user/MedicinalProductManufactured.cs",
        "user/MedicinalProductManufactured.ru",
        "user/MedicinalProductManufactured.rd",
        "user/MedicinalProductManufactured.rs",
        "user/MedicinalProductManufactured.ud",
        "user/MedicinalProductManufactured.us",
        "user/MedicinalProductManufactured.ds",
        "user/MedicinalProductManufactured.cru",
        "user/MedicinalProductManufactured.crd",
        "user/MedicinalProductManufactured.crs",
        "user/MedicinalProductManufactured.cud",
        "user/MedicinalProductManufactured.cus",
        "user/MedicinalProductManufactured.cds",
        "user/MedicinalProductManufactured.rud",
        "user/MedicinalProductManufactured.rus",
        "user/MedicinalProductManufactured.rds",
        "user/MedicinalProductManufactured.uds",
        "user/MedicinalProductManufactured.crud",
        "user/MedicinalProductManufactured.crus",
        "user/MedicinalProductManufactured.crds",
        "user/MedicinalProductManufactured.cuds",
        "user/MedicinalProductManufactured.ruds",
        "user/MedicinalProductManufactured.cruds",
        "user/MedicinalProductManufactured.*",
        "user/MedicinalProductManufactured.read",
        "user/MedicinalProductManufactured.write",
        "system/MedicinalProductManufactured.c",
        "system/MedicinalProductManufactured.r",
        "system/MedicinalProductManufactured.u",
        "system/MedicinalProductManufactured.d",
        "system/MedicinalProductManufactured.s",
        "system/MedicinalProductManufactured.cr",
        "system/MedicinalProductManufactured.cu",
        "system/MedicinalProductManufactured.cd",
        "system/MedicinalProductManufactured.cs",
        "system/MedicinalProductManufactured.ru",
        "system/MedicinalProductManufactured.rd",
        "system/MedicinalProductManufactured.rs",
        "system/MedicinalProductManufactured.ud",
        "system/MedicinalProductManufactured.us",
        "system/MedicinalProductManufactured.ds",
        "system/MedicinalProductManufactured.cru",
        "system/MedicinalProductManufactured.crd",
        "system/MedicinalProductManufactured.crs",
        "system/MedicinalProductManufactured.cud",
        "system/MedicinalProductManufactured.cus",
        "system/MedicinalProductManufactured.cds",
        "system/MedicinalProductManufactured.rud",
        "system/MedicinalProductManufactured.rus",
        "system/MedicinalProductManufactured.rds",
        "system/MedicinalProductManufactured.uds",
        "system/MedicinalProductManufactured.crud",
        "system/MedicinalProductManufactured.crus",
        "system/MedicinalProductManufactured.crds",
        "system/MedicinalProductManufactured.cuds",
        "system/MedicinalProductManufactured.ruds",
        "system/MedicinalProductManufactured.cruds",
        "system/MedicinalProductManufactured.*",
        "system/MedicinalProductManufactured.read",
        "system/MedicinalProductManufactured.write",
        "launch/medicinalproductmanufactured",
        "patient/CoverageEligibilityResponse.c",
        "patient/CoverageEligibilityResponse.r",
        "patient/CoverageEligibilityResponse.u",
        "patient/CoverageEligibilityResponse.d",
        "patient/CoverageEligibilityResponse.s",
        "patient/CoverageEligibilityResponse.cr",
        "patient/CoverageEligibilityResponse.cu",
        "patient/CoverageEligibilityResponse.cd",
        "patient/CoverageEligibilityResponse.cs",
        "patient/CoverageEligibilityResponse.ru",
        "patient/CoverageEligibilityResponse.rd",
        "patient/CoverageEligibilityResponse.rs",
        "patient/CoverageEligibilityResponse.ud",
        "patient/CoverageEligibilityResponse.us",
        "patient/CoverageEligibilityResponse.ds",
        "patient/CoverageEligibilityResponse.cru",
        "patient/CoverageEligibilityResponse.crd",
        "patient/CoverageEligibilityResponse.crs",
        "patient/CoverageEligibilityResponse.cud",
        "patient/CoverageEligibilityResponse.cus",
        "patient/CoverageEligibilityResponse.cds",
        "patient/CoverageEligibilityResponse.rud",
        "patient/CoverageEligibilityResponse.rus",
        "patient/CoverageEligibilityResponse.rds",
        "patient/CoverageEligibilityResponse.uds",
        "patient/CoverageEligibilityResponse.crud",
        "patient/CoverageEligibilityResponse.crus",
        "patient/CoverageEligibilityResponse.crds",
        "patient/CoverageEligibilityResponse.cuds",
        "patient/CoverageEligibilityResponse.ruds",
        "patient/CoverageEligibilityResponse.cruds",
        "patient/CoverageEligibilityResponse.*",
        "patient/CoverageEligibilityResponse.read",
        "patient/CoverageEligibilityResponse.write",
        "user/CoverageEligibilityResponse.c",
        "user/CoverageEligibilityResponse.r",
        "user/CoverageEligibilityResponse.u",
        "user/CoverageEligibilityResponse.d",
        "user/CoverageEligibilityResponse.s",
        "user/CoverageEligibilityResponse.cr",
        "user/CoverageEligibilityResponse.cu",
        "user/CoverageEligibilityResponse.cd",
        "user/CoverageEligibilityResponse.cs",
        "user/CoverageEligibilityResponse.ru",
        "user/CoverageEligibilityResponse.rd",
        "user/CoverageEligibilityResponse.rs",
        "user/CoverageEligibilityResponse.ud",
        "user/CoverageEligibilityResponse.us",
        "user/CoverageEligibilityResponse.ds",
        "user/CoverageEligibilityResponse.cru",
        "user/CoverageEligibilityResponse.crd",
        "user/CoverageEligibilityResponse.crs",
        "user/CoverageEligibilityResponse.cud",
        "user/CoverageEligibilityResponse.cus",
        "user/CoverageEligibilityResponse.cds",
        "user/CoverageEligibilityResponse.rud",
        "user/CoverageEligibilityResponse.rus",
        "user/CoverageEligibilityResponse.rds",
        "user/CoverageEligibilityResponse.uds",
        "user/CoverageEligibilityResponse.crud",
        "user/CoverageEligibilityResponse.crus",
        "user/CoverageEligibilityResponse.crds",
        "user/CoverageEligibilityResponse.cuds",
        "user/CoverageEligibilityResponse.ruds",
        "user/CoverageEligibilityResponse.cruds",
        "user/CoverageEligibilityResponse.*",
        "user/CoverageEligibilityResponse.read",
        "user/CoverageEligibilityResponse.write",
        "system/CoverageEligibilityResponse.c",
        "system/CoverageEligibilityResponse.r",
        "system/CoverageEligibilityResponse.u",
        "system/CoverageEligibilityResponse.d",
        "system/CoverageEligibilityResponse.s",
        "system/CoverageEligibilityResponse.cr",
        "system/CoverageEligibilityResponse.cu",
        "system/CoverageEligibilityResponse.cd",
        "system/CoverageEligibilityResponse.cs",
        "system/CoverageEligibilityResponse.ru",
        "system/CoverageEligibilityResponse.rd",
        "system/CoverageEligibilityResponse.rs",
        "system/CoverageEligibilityResponse.ud",
        "system/CoverageEligibilityResponse.us",
        "system/CoverageEligibilityResponse.ds",
        "system/CoverageEligibilityResponse.cru",
        "system/CoverageEligibilityResponse.crd",
        "system/CoverageEligibilityResponse.crs",
        "system/CoverageEligibilityResponse.cud",
        "system/CoverageEligibilityResponse.cus",
        "system/CoverageEligibilityResponse.cds",
        "system/CoverageEligibilityResponse.rud",
        "system/CoverageEligibilityResponse.rus",
        "system/CoverageEligibilityResponse.rds",
        "system/CoverageEligibilityResponse.uds",
        "system/CoverageEligibilityResponse.crud",
        "system/CoverageEligibilityResponse.crus",
        "system/CoverageEligibilityResponse.crds",
        "system/CoverageEligibilityResponse.cuds",
        "system/CoverageEligibilityResponse.ruds",
        "system/CoverageEligibilityResponse.cruds",
        "system/CoverageEligibilityResponse.*",
        "system/CoverageEligibilityResponse.read",
        "system/CoverageEligibilityResponse.write",
        "launch/coverageeligibilityresponse",
        "patient/MedicinalProductInteraction.c",
        "patient/MedicinalProductInteraction.r",
        "patient/MedicinalProductInteraction.u",
        "patient/MedicinalProductInteraction.d",
        "patient/MedicinalProductInteraction.s",
        "patient/MedicinalProductInteraction.cr",
        "patient/MedicinalProductInteraction.cu",
        "patient/MedicinalProductInteraction.cd",
        "patient/MedicinalProductInteraction.cs",
        "patient/MedicinalProductInteraction.ru",
        "patient/MedicinalProductInteraction.rd",
        "patient/MedicinalProductInteraction.rs",
        "patient/MedicinalProductInteraction.ud",
        "patient/MedicinalProductInteraction.us",
        "patient/MedicinalProductInteraction.ds",
        "patient/MedicinalProductInteraction.cru",
        "patient/MedicinalProductInteraction.crd",
        "patient/MedicinalProductInteraction.crs",
        "patient/MedicinalProductInteraction.cud",
        "patient/MedicinalProductInteraction.cus",
        "patient/MedicinalProductInteraction.cds",
        "patient/MedicinalProductInteraction.rud",
        "patient/MedicinalProductInteraction.rus",
        "patient/MedicinalProductInteraction.rds",
        "patient/MedicinalProductInteraction.uds",
        "patient/MedicinalProductInteraction.crud",
        "patient/MedicinalProductInteraction.crus",
        "patient/MedicinalProductInteraction.crds",
        "patient/MedicinalProductInteraction.cuds",
        "patient/MedicinalProductInteraction.ruds",
        "patient/MedicinalProductInteraction.cruds",
        "patient/MedicinalProductInteraction.*",
        "patient/MedicinalProductInteraction.read",
        "patient/MedicinalProductInteraction.write",
        "user/MedicinalProductInteraction.c",
        "user/MedicinalProductInteraction.r",
        "user/MedicinalProductInteraction.u",
        "user/MedicinalProductInteraction.d",
        "user/MedicinalProductInteraction.s",
        "user/MedicinalProductInteraction.cr",
        "user/MedicinalProductInteraction.cu",
        "user/MedicinalProductInteraction.cd",
        "user/MedicinalProductInteraction.cs",
        "user/MedicinalProductInteraction.ru",
        "user/MedicinalProductInteraction.rd",
        "user/MedicinalProductInteraction.rs",
        "user/MedicinalProductInteraction.ud",
        "user/MedicinalProductInteraction.us",
        "user/MedicinalProductInteraction.ds",
        "user/MedicinalProductInteraction.cru",
        "user/MedicinalProductInteraction.crd",
        "user/MedicinalProductInteraction.crs",
        "user/MedicinalProductInteraction.cud",
        "user/MedicinalProductInteraction.cus",
        "user/MedicinalProductInteraction.cds",
        "user/MedicinalProductInteraction.rud",
        "user/MedicinalProductInteraction.rus",
        "user/MedicinalProductInteraction.rds",
        "user/MedicinalProductInteraction.uds",
        "user/MedicinalProductInteraction.crud",
        "user/MedicinalProductInteraction.crus",
        "user/MedicinalProductInteraction.crds",
        "user/MedicinalProductInteraction.cuds",
        "user/MedicinalProductInteraction.ruds",
        "user/MedicinalProductInteraction.cruds",
        "user/MedicinalProductInteraction.*",
        "user/MedicinalProductInteraction.read",
        "user/MedicinalProductInteraction.write",
        "system/MedicinalProductInteraction.c",
        "system/MedicinalProductInteraction.r",
        "system/MedicinalProductInteraction.u",
        "system/MedicinalProductInteraction.d",
        "system/MedicinalProductInteraction.s",
        "system/MedicinalProductInteraction.cr",
        "system/MedicinalProductInteraction.cu",
        "system/MedicinalProductInteraction.cd",
        "system/MedicinalProductInteraction.cs",
        "system/MedicinalProductInteraction.ru",
        "system/MedicinalProductInteraction.rd",
        "system/MedicinalProductInteraction.rs",
        "system/MedicinalProductInteraction.ud",
        "system/MedicinalProductInteraction.us",
        "system/MedicinalProductInteraction.ds",
        "system/MedicinalProductInteraction.cru",
        "system/MedicinalProductInteraction.crd",
        "system/MedicinalProductInteraction.crs",
        "system/MedicinalProductInteraction.cud",
        "system/MedicinalProductInteraction.cus",
        "system/MedicinalProductInteraction.cds",
        "system/MedicinalProductInteraction.rud",
        "system/MedicinalProductInteraction.rus",
        "system/MedicinalProductInteraction.rds",
        "system/MedicinalProductInteraction.uds",
        "system/MedicinalProductInteraction.crud",
        "system/MedicinalProductInteraction.crus",
        "system/MedicinalProductInteraction.crds",
        "system/MedicinalProductInteraction.cuds",
        "system/MedicinalProductInteraction.ruds",
        "system/MedicinalProductInteraction.cruds",
        "system/MedicinalProductInteraction.*",
        "system/MedicinalProductInteraction.read",
        "system/MedicinalProductInteraction.write",
        "launch/medicinalproductinteraction",
        "patient/ImmunizationRecommendation.c",
        "patient/ImmunizationRecommendation.r",
        "patient/ImmunizationRecommendation.u",
        "patient/ImmunizationRecommendation.d",
        "patient/ImmunizationRecommendation.s",
        "patient/ImmunizationRecommendation.cr",
        "patient/ImmunizationRecommendation.cu",
        "patient/ImmunizationRecommendation.cd",
        "patient/ImmunizationRecommendation.cs",
        "patient/ImmunizationRecommendation.ru",
        "patient/ImmunizationRecommendation.rd",
        "patient/ImmunizationRecommendation.rs",
        "patient/ImmunizationRecommendation.ud",
        "patient/ImmunizationRecommendation.us",
        "patient/ImmunizationRecommendation.ds",
        "patient/ImmunizationRecommendation.cru",
        "patient/ImmunizationRecommendation.crd",
        "patient/ImmunizationRecommendation.crs",
        "patient/ImmunizationRecommendation.cud",
        "patient/ImmunizationRecommendation.cus",
        "patient/ImmunizationRecommendation.cds",
        "patient/ImmunizationRecommendation.rud",
        "patient/ImmunizationRecommendation.rus",
        "patient/ImmunizationRecommendation.rds",
        "patient/ImmunizationRecommendation.uds",
        "patient/ImmunizationRecommendation.crud",
        "patient/ImmunizationRecommendation.crus",
        "patient/ImmunizationRecommendation.crds",
        "patient/ImmunizationRecommendation.cuds",
        "patient/ImmunizationRecommendation.ruds",
        "patient/ImmunizationRecommendation.cruds",
        "patient/ImmunizationRecommendation.*",
        "patient/ImmunizationRecommendation.read",
        "patient/ImmunizationRecommendation.write",
        "user/ImmunizationRecommendation.c",
        "user/ImmunizationRecommendation.r",
        "user/ImmunizationRecommendation.u",
        "user/ImmunizationRecommendation.d",
        "user/ImmunizationRecommendation.s",
        "user/ImmunizationRecommendation.cr",
        "user/ImmunizationRecommendation.cu",
        "user/ImmunizationRecommendation.cd",
        "user/ImmunizationRecommendation.cs",
        "user/ImmunizationRecommendation.ru",
        "user/ImmunizationRecommendation.rd",
        "user/ImmunizationRecommendation.rs",
        "user/ImmunizationRecommendation.ud",
        "user/ImmunizationRecommendation.us",
        "user/ImmunizationRecommendation.ds",
        "user/ImmunizationRecommendation.cru",
        "user/ImmunizationRecommendation.crd",
        "user/ImmunizationRecommendation.crs",
        "user/ImmunizationRecommendation.cud",
        "user/ImmunizationRecommendation.cus",
        "user/ImmunizationRecommendation.cds",
        "user/ImmunizationRecommendation.rud",
        "user/ImmunizationRecommendation.rus",
        "user/ImmunizationRecommendation.rds",
        "user/ImmunizationRecommendation.uds",
        "user/ImmunizationRecommendation.crud",
        "user/ImmunizationRecommendation.crus",
        "user/ImmunizationRecommendation.crds",
        "user/ImmunizationRecommendation.cuds",
        "user/ImmunizationRecommendation.ruds",
        "user/ImmunizationRecommendation.cruds",
        "user/ImmunizationRecommendation.*",
        "user/ImmunizationRecommendation.read",
        "user/ImmunizationRecommendation.write",
        "system/ImmunizationRecommendation.c",
        "system/ImmunizationRecommendation.r",
        "system/ImmunizationRecommendation.u",
        "system/ImmunizationRecommendation.d",
        "system/ImmunizationRecommendation.s",
        "system/ImmunizationRecommendation.cr",
        "system/ImmunizationRecommendation.cu",
        "system/ImmunizationRecommendation.cd",
        "system/ImmunizationRecommendation.cs",
        "system/ImmunizationRecommendation.ru",
        "system/ImmunizationRecommendation.rd",
        "system/ImmunizationRecommendation.rs",
        "system/ImmunizationRecommendation.ud",
        "system/ImmunizationRecommendation.us",
        "system/ImmunizationRecommendation.ds",
        "system/ImmunizationRecommendation.cru",
        "system/ImmunizationRecommendation.crd",
        "system/ImmunizationRecommendation.crs",
        "system/ImmunizationRecommendation.cud",
        "system/ImmunizationRecommendation.cus",
        "system/ImmunizationRecommendation.cds",
        "system/ImmunizationRecommendation.rud",
        "system/ImmunizationRecommendation.rus",
        "system/ImmunizationRecommendation.rds",
        "system/ImmunizationRecommendation.uds",
        "system/ImmunizationRecommendation.crud",
        "system/ImmunizationRecommendation.crus",
        "system/ImmunizationRecommendation.crds",
        "system/ImmunizationRecommendation.cuds",
        "system/ImmunizationRecommendation.ruds",
        "system/ImmunizationRecommendation.cruds",
        "system/ImmunizationRecommendation.*",
        "system/ImmunizationRecommendation.read",
        "system/ImmunizationRecommendation.write",
        "launch/immunizationrecommendation",
        "patient/BiologicallyDerivedProduct.c",
        "patient/BiologicallyDerivedProduct.r",
        "patient/BiologicallyDerivedProduct.u",
        "patient/BiologicallyDerivedProduct.d",
        "patient/BiologicallyDerivedProduct.s",
        "patient/BiologicallyDerivedProduct.cr",
        "patient/BiologicallyDerivedProduct.cu",
        "patient/BiologicallyDerivedProduct.cd",
        "patient/BiologicallyDerivedProduct.cs",
        "patient/BiologicallyDerivedProduct.ru",
        "patient/BiologicallyDerivedProduct.rd",
        "patient/BiologicallyDerivedProduct.rs",
        "patient/BiologicallyDerivedProduct.ud",
        "patient/BiologicallyDerivedProduct.us",
        "patient/BiologicallyDerivedProduct.ds",
        "patient/BiologicallyDerivedProduct.cru",
        "patient/BiologicallyDerivedProduct.crd",
        "patient/BiologicallyDerivedProduct.crs",
        "patient/BiologicallyDerivedProduct.cud",
        "patient/BiologicallyDerivedProduct.cus",
        "patient/BiologicallyDerivedProduct.cds",
        "patient/BiologicallyDerivedProduct.rud",
        "patient/BiologicallyDerivedProduct.rus",
        "patient/BiologicallyDerivedProduct.rds",
        "patient/BiologicallyDerivedProduct.uds",
        "patient/BiologicallyDerivedProduct.crud",
        "patient/BiologicallyDerivedProduct.crus",
        "patient/BiologicallyDerivedProduct.crds",
        "patient/BiologicallyDerivedProduct.cuds",
        "patient/BiologicallyDerivedProduct.ruds",
        "patient/BiologicallyDerivedProduct.cruds",
        "patient/BiologicallyDerivedProduct.*",
        "patient/BiologicallyDerivedProduct.read",
        "patient/BiologicallyDerivedProduct.write",
        "user/BiologicallyDerivedProduct.c",
        "user/BiologicallyDerivedProduct.r",
        "user/BiologicallyDerivedProduct.u",
        "user/BiologicallyDerivedProduct.d",
        "user/BiologicallyDerivedProduct.s",
        "user/BiologicallyDerivedProduct.cr",
        "user/BiologicallyDerivedProduct.cu",
        "user/BiologicallyDerivedProduct.cd",
        "user/BiologicallyDerivedProduct.cs",
        "user/BiologicallyDerivedProduct.ru",
        "user/BiologicallyDerivedProduct.rd",
        "user/BiologicallyDerivedProduct.rs",
        "user/BiologicallyDerivedProduct.ud",
        "user/BiologicallyDerivedProduct.us",
        "user/BiologicallyDerivedProduct.ds",
        "user/BiologicallyDerivedProduct.cru",
        "user/BiologicallyDerivedProduct.crd",
        "user/BiologicallyDerivedProduct.crs",
        "user/BiologicallyDerivedProduct.cud",
        "user/BiologicallyDerivedProduct.cus",
        "user/BiologicallyDerivedProduct.cds",
        "user/BiologicallyDerivedProduct.rud",
        "user/BiologicallyDerivedProduct.rus",
        "user/BiologicallyDerivedProduct.rds",
        "user/BiologicallyDerivedProduct.uds",
        "user/BiologicallyDerivedProduct.crud",
        "user/BiologicallyDerivedProduct.crus",
        "user/BiologicallyDerivedProduct.crds",
        "user/BiologicallyDerivedProduct.cuds",
        "user/BiologicallyDerivedProduct.ruds",
[...]
