{
  "openapi": "3.0.1",
  "info": {
    "title": "Firely Server - PractitionerRole",
    "version": "6.1.0+4067978e479f74ad54ef88e4994b88b53ef442d0"
  },
  "servers": [
    {
      "url": "https://server.fire.ly/",
      "description": "Firely Server (non-secured)"
    },
    {
      "url": "https://secure.server.fire.ly/",
      "description": "Firely Server"
    }
  ],
  "paths": {
    "/PractitionerRole": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "create: Create a new PractitionerRole instance",
        "operationId": "CreatePractitionerRole",
        "requestBody": {
          "description": "A FHIR PractitionerRole",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/PractitionerRole"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/PractitionerRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "search-type: Search for PractitionerRole instances",
        "operationId": "SearchPractitionerRoleGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_contained"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_graph"
          },
          {
            "$ref": "#/components/parameters/_include"
          },
          {
            "$ref": "#/components/parameters/_revinclude"
          },
          {
            "$ref": "#/components/parameters/_score"
          },
          {
            "$ref": "#/components/parameters/_sort"
          },
          {
            "$ref": "#/components/parameters/_total"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/active"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/endpoint"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/organization"
          },
          {
            "$ref": "#/components/parameters/phone"
          },
          {
            "$ref": "#/components/parameters/practitioner"
          },
          {
            "$ref": "#/components/parameters/role"
          },
          {
            "$ref": "#/components/parameters/service"
          },
          {
            "$ref": "#/components/parameters/specialty"
          },
          {
            "$ref": "#/components/parameters/telecom"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}": {
      "delete": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "delete: Perform a logical delete on a PractitionerRole instance",
        "operationId": "DeletePractitionerRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/active"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/endpoint"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/organization"
          },
          {
            "$ref": "#/components/parameters/phone"
          },
          {
            "$ref": "#/components/parameters/practitioner"
          },
          {
            "$ref": "#/components/parameters/role"
          },
          {
            "$ref": "#/components/parameters/service"
          },
          {
            "$ref": "#/components/parameters/specialty"
          },
          {
            "$ref": "#/components/parameters/telecom"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "patch: Patch a PractitionerRole instance",
        "operationId": "PatchPractitionerRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Patch to apply to a FHIR PractitionerRole record",
          "content": {},
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "read: Read a FHIR PractitionerRole",
        "operationId": "ReadPractitionerRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "update,create: Update or Create a PractitionerRole instance",
        "operationId": "UpdateOrCreatePractitionerRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/_content"
          },
          {
            "$ref": "#/components/parameters/_filter"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_in"
          },
          {
            "$ref": "#/components/parameters/_language"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_list"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_query"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/_text"
          },
          {
            "$ref": "#/components/parameters/_count"
          },
          {
            "$ref": "#/components/parameters/_format"
          },
          {
            "$ref": "#/components/parameters/_has"
          },
          {
            "$ref": "#/components/parameters/_id"
          },
          {
            "$ref": "#/components/parameters/_lastUpdated"
          },
          {
            "$ref": "#/components/parameters/_profile"
          },
          {
            "$ref": "#/components/parameters/_security"
          },
          {
            "$ref": "#/components/parameters/_source"
          },
          {
            "$ref": "#/components/parameters/_tag"
          },
          {
            "$ref": "#/components/parameters/active"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/endpoint"
          },
          {
            "$ref": "#/components/parameters/identifier"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/organization"
          },
          {
            "$ref": "#/components/parameters/phone"
          },
          {
            "$ref": "#/components/parameters/practitioner"
          },
          {
            "$ref": "#/components/parameters/role"
          },
          {
            "$ref": "#/components/parameters/service"
          },
          {
            "$ref": "#/components/parameters/specialty"
          },
          {
            "$ref": "#/components/parameters/telecom"
          }
        ],
        "requestBody": {
          "description": "An updated FHIR PractitionerRole",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/PractitionerRole"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/PractitionerRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "412": {
            "description": "CONFLICT",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/_search": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "search-type: Search for PractitionerRole instances",
        "operationId": "SearchPractitionerRolePost",
        "requestBody": {
          "description": "FHIR search parameters",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_elements": {
                    "title": "_elements",
                    "type": "string"
                  },
                  "_summary": {
                    "title": "_summary",
                    "type": "string"
                  },
                  "_content": {
                    "title": "_content",
                    "type": "string"
                  },
                  "_filter": {
                    "title": "_filter",
                    "type": "string"
                  },
                  "_id": {
                    "title": "_id",
                    "type": "string"
                  },
                  "_in": {
                    "title": "_in",
                    "type": "string"
                  },
                  "_language": {
                    "title": "_language",
                    "type": "string"
                  },
                  "_lastUpdated": {
                    "title": "_lastUpdated",
                    "type": "string"
                  },
                  "_list": {
                    "title": "_list",
                    "type": "string"
                  },
                  "_profile": {
                    "title": "_profile",
                    "type": "string"
                  },
                  "_query": {
                    "title": "_query",
                    "type": "string"
                  },
                  "_security": {
                    "title": "_security",
                    "type": "string"
                  },
                  "_source": {
                    "title": "_source",
                    "type": "string"
                  },
                  "_tag": {
                    "title": "_tag",
                    "type": "string"
                  },
                  "_text": {
                    "title": "_text",
                    "type": "string"
                  },
                  "_contained": {
                    "title": "_contained",
                    "type": "string"
                  },
                  "_count": {
                    "title": "_count",
                    "type": "string"
                  },
                  "_graph": {
                    "title": "_graph",
                    "type": "string"
                  },
                  "_include": {
                    "title": "_include",
                    "type": "string"
                  },
                  "_revinclude": {
                    "title": "_revinclude",
                    "type": "string"
                  },
                  "_score": {
                    "title": "_score",
                    "type": "string"
                  },
                  "_sort": {
                    "title": "_sort",
                    "type": "string"
                  },
                  "_total": {
                    "title": "_total",
                    "type": "string"
                  },
                  "_format": {
                    "title": "_format",
                    "type": "string"
                  },
                  "_has": {
                    "title": "_has",
                    "type": "string"
                  },
                  "active": {
                    "title": "active",
                    "type": "string"
                  },
                  "date": {
                    "title": "date",
                    "type": "string"
                  },
                  "email": {
                    "title": "email",
                    "type": "string"
                  },
                  "endpoint": {
                    "title": "endpoint",
                    "type": "string"
                  },
                  "identifier": {
                    "title": "identifier",
                    "type": "string"
                  },
                  "location": {
                    "title": "location",
                    "type": "string"
                  },
                  "organization": {
                    "title": "organization",
                    "type": "string"
                  },
                  "phone": {
                    "title": "phone",
                    "type": "string"
                  },
                  "practitioner": {
                    "title": "practitioner",
                    "type": "string"
                  },
                  "role": {
                    "title": "role",
                    "type": "string"
                  },
                  "service": {
                    "title": "service",
                    "type": "string"
                  },
                  "specialty": {
                    "title": "specialty",
                    "type": "string"
                  },
                  "telecom": {
                    "title": "telecom",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "vread: Read PractitionerRole instance with specific version",
        "operationId": "VReadPractitionerRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          },
          {
            "$ref": "#/components/parameters/resource_version"
          },
          {
            "$ref": "#/components/parameters/_elements"
          },
          {
            "$ref": "#/components/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta-add": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: execute the Add profiles, tags, and security labels to a resource operation",
        "operationId": "PractitionerRoleInstanceMetaAddPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta-delete": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: execute the Delete profiles, tags, and security labels for a resource operation",
        "operationId": "PractitionerRoleInstanceMetaDeletePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/{logical_id}/$meta": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "PractitionerRoleInstanceMetaPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/logical_id"
          }
        ],
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    },
    "/PractitionerRole/$meta": {
      "post": {
        "tags": [
          "PractitionerRole"
        ],
        "summary": "operation: execute the Access a list of profiles, tags, and security labels operation",
        "operationId": "PractitionerRoleMetaPost",
        "requestBody": {
          "description": "Input parameters to the operation",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/Parameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Parameters"
                }
              }
            }
          },
          "410": {
            "description": "GONE",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_format"
        },
        {
          "$ref": "#/components/parameters/_pretty"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "PractitionerRole": {
        "type": "object",
        "description": "Roles/organizations the practitioner is associated with"
      },
      "OperationOutcome": {
        "type": "object",
        "description": "Information about the success/failure of an action"
      },
      "Bundle": {
        "type": "object",
        "description": "Contains a collection of resources"
      },
      "Parameters": {
        "type": "object",
        "description": "Operation Request or Response"
      }
    },
    "parameters": {
      "_format": {
        "name": "_format",
        "in": "query",
        "description": "Override the HTTP content negotiation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_pretty": {
        "name": "_pretty",
        "in": "query",
        "description": "Ask for a pretty printed response for human convenience",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_elements": {
        "name": "_elements",
        "in": "query",
        "description": "Ask for a particular set of elements to be returned",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_summary": {
        "name": "_summary",
        "in": "query",
        "description": "Return only portions of resources, based on pre-defined levels",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_content": {
        "name": "_content",
        "in": "query",
        "description": "Search on the entire content of the resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_filter": {
        "name": "_filter",
        "in": "query",
        "description": "Provide an inline query expression",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_id": {
        "name": "_id",
        "in": "query",
        "description": "Logical id of this artifact",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_in": {
        "name": "_in",
        "in": "query",
        "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_language": {
        "name": "_language",
        "in": "query",
        "description": "Language of the resource content",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_lastUpdated": {
        "name": "_lastUpdated",
        "in": "query",
        "description": "When the resource version last changed",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_list": {
        "name": "_list",
        "in": "query",
        "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_profile": {
        "name": "_profile",
        "in": "query",
        "description": "Profiles this resource claims to conform to",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_query": {
        "name": "_query",
        "in": "query",
        "description": "A custom search profile that describes a specific defined query operation",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_security": {
        "name": "_security",
        "in": "query",
        "description": "Security Labels applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_source": {
        "name": "_source",
        "in": "query",
        "description": "Identifies where the resource comes from",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_tag": {
        "name": "_tag",
        "in": "query",
        "description": "Tags applied to this resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_text": {
        "name": "_text",
        "in": "query",
        "description": "Perform searches against the narrative content of a resource",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_contained": {
        "name": "_contained",
        "in": "query",
        "description": "Request different types of handling for contained resources",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_count": {
        "name": "_count",
        "in": "query",
        "description": "Limit the number of match results per page of response",
        "style": "form",
        "schema": {
          "type": "number"
        }
      },
      "_graph": {
        "name": "_graph",
        "in": "query",
        "description": "Include additional resources according to a GraphDefinition",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_include": {
        "name": "_include",
        "in": "query",
        "description": "Include additional resources, based on following links forward across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_revinclude": {
        "name": "_revinclude",
        "in": "query",
        "description": "Include additional resources, based on following reverse links across references",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_score": {
        "name": "_score",
        "in": "query",
        "description": "Request match relevance in results",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_sort": {
        "name": "_sort",
        "in": "query",
        "description": "Request which order results should be returned in",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_total": {
        "name": "_total",
        "in": "query",
        "description": "Request a precision of the total number of results for a request",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "_has": {
        "name": "_has",
        "in": "query",
        "description": "Enables querying a reverse chain",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "active": {
        "name": "active",
        "in": "query",
        "description": "Is the schedule in active use",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "date": {
        "name": "date",
        "in": "query",
        "description": "The example scenario publication date",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "email": {
        "name": "email",
        "in": "query",
        "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in an email contact\r\n* [Person](person.html): A value in an email contact\r\n* [Practitioner](practitioner.html): A value in an email contact\r\n* [PractitionerRole](practitionerrole.html): A value in an email contact\r\n* [RelatedPerson](relatedperson.html): A value in an email contact\r\n",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "endpoint": {
        "name": "endpoint",
        "in": "query",
        "description": "The endpoint for the study or series",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "identifier": {
        "name": "identifier",
        "in": "query",
        "description": "External identifier for the example scenario",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "location": {
        "name": "location",
        "in": "query",
        "description": "Geographic region(s) for study",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "organization": {
        "name": "organization",
        "in": "query",
        "description": "Custodian of the consent",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "phone": {
        "name": "phone",
        "in": "query",
        "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in a phone contact\r\n* [Person](person.html): A value in a phone contact\r\n* [Practitioner](practitioner.html): A value in a phone contact\r\n* [PractitionerRole](practitionerrole.html): A value in a phone contact\r\n* [RelatedPerson](relatedperson.html): A value in a phone contact\r\n",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "practitioner": {
        "name": "practitioner",
        "in": "query",
        "description": "One of the individuals of the appointment is this practitioner",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "role": {
        "name": "role",
        "in": "query",
        "description": "The practitioner can perform this role at for the organization",
        "schema": {
          "type": "string"
        }
      },
      "service": {
        "name": "service",
        "in": "query",
        "description": "Which rendered service is being charged?",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "specialty": {
        "name": "specialty",
        "in": "query",
        "description": "Type of specialty needed",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "telecom": {
        "name": "telecom",
        "in": "query",
        "description": "Contact details for individual or organization",
        "style": "form",
        "schema": {
          "type": "string"
        }
      },
      "logical_id": {
        "name": "logical_id",
        "in": "path",
        "description": "Resource Logical ID",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      },
      "resource_version": {
        "name": "resource_version",
        "in": "path",
        "description": "Resource Version Number",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://secure.server.fire.ly/.well-known/smart-configuration"
      }
    }
  },
  "security": [
    {
      "openId": [
        "openid",
        "profile",
        "fhirUser",
        "offline_access"
      ]
    }
  ],
  "tags": [
    {
      "name": "PractitionerRole",
      "description": "Roles/organizations the practitioner is associated with"
    }
  ]
}
